h2 {
    color: rgb(000, 200, 000);
    background-color: rgb(200, 180, 255);
}

button {
    color: magenta;
    background-color: #5fcffc;
}

p {
    color: olive;
    background: #ccffee;
}

/* you can use color picker tools to choose more choice of color */
/* hfdsjvsok */