div {
    width: 200px;
    height: 200px;
    background-color: coral;
}

h1 {
    background-color: pink;
    width: 100px;
}

#one {
    background-color: darksalmon;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
}

#two {
    background-color: rgb(173, 90, 62);
    border-color: aqua;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
}

#three {
    background-color: grey;
    border: 4px solid black;
    border-radius: 10%;
}