/* universal selector */
/* * {
    background-color: rgb(246, 247, 247);
} */

/* element selector */
button {
    font-size: 30px;
}

/* selector list */
h1,
h2 {
    color: darkslateblue;
}

/* id selector */
#Signup {
    background-color: blue;
    color: beige;
}

/* class selector */
.span {
    background-color: darkgreen;
    color: blanchedalmond;
}

/* descendant selector  */
p a {
    color: brown;
}

/* adjacent selector */

h2+input {
    background-color: blueviolet;
    color: aqua;
}

/* direct-descendant selector */
footer>a {
    background-color: darkgray;
    color: gold;
}

/* attribute seletor */
input[type="password"] {
    color: blue;
}

/* pseudo class selector */
body div:nth-child(odd) {
    background-color: rgb(132 150 150 / 17%);
}

/* pseudo element selector */
h2::first-letter {
    font-size: 50px;
}