/* universal selector */
* {
    background-color:  rgb(246, 247, 247);
}

/* element selector */
button {
    font-size: 30px;
}

/* selector list */
h1, h2 {
color: darkslateblue;
}

/* id selector */
#Signup {
    background-color: blue;
    color: beige;
}

/* class selector */
.button {
    background-color: darkgreen;
    color: blanchedalmond;
}