section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

/* alpha channel (rgba) control visibility of specific content inside the element */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.427);
}

/* opacity controls the visibility of the entire content inside the element  */
#opacity {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.427);
    opacity: 0.5;
}