body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    flex-basis: 200px;
}

#container div:nth-of-type(3){
    height: 200px;
    font-size: 8em;
}
#container div:nth-of-type(5){
    height: 500px;
    align-self: flex-end;
}