body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 800px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
}

#container div:nth-of-type(3){
    height: 300px;
}
#container div:nth-of-type(5){
    height: 500px;
}