div {
    border: 5px solid black;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.8em;
    background-color: #2a9d8f;
    color: #eae2b7;
    padding: 0.7em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    transition: transform 1s;
}

section{
    transition: transform 1s;
}

div:nth-of-type(2n) {
    background-color: #e9c46a;
}

div:nth-of-type(3n) {
    background-color: #f4a261;
}


div:nth-of-type(4n) {
    background-color: #e76f51;
}

section:first-of-type div:nth-of-type(1):hover {
    /* transform-origin: bottom right; */
    transform: rotate(180deg);

}

section:first-of-type div:nth-of-type(2):hover {
    transform: scale(2, 1);

}

section:first-of-type div:nth-of-type(3):hover {
    transform: translatex(200px);

}

section:first-of-type div:nth-of-type(4):hover {
    transform: translate(-100px, 50px);

}

section:nth-of-type(2) div:nth-of-type(1):hover {
    transform: skew(30deg);
}

section:nth-of-type(2) div:nth-of-type(2):hover {
    transform: skew(10deg, 25deg);
}

section:nth-of-type(2) div:nth-of-type(3):hover {
    transform: scale(1.3) rotate(-45deg);
}

section:nth-of-type(2) div:nth-of-type(4):hover {
    transform: translateX(-500px) rotate(1turn) scaleY(1.5);
}

section:nth-of-type(2):hover {
    transform: translateX(500px);
}